In [1]:
import torch
import torch.nn as nn

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from torch.utils.data import TensorDataset, DataLoader, Subset
from sklearn.model_selection import train_test_split
from copy import deepcopy

In [4]:
df = pd.read_csv('dataset/AMZN.csv', index_col='Date', parse_dates=True)
df.head(5)

             Open   High    Low  Close   Volume  Name
Date
2006-01-03  47.47  47.85  46.25  47.58  7582127  AMZN
2006-01-04  47.48  47.73  46.69  47.25  7440914  AMZN
2006-01-05  47.16  48.20  47.11  47.65  5417258  AMZN
2006-01-06  47.97  48.58  47.32  47.87  6154285  AMZN
2006-01-09  46.55  47.10  46.40  47.08  8945056  AMZN

### ✨MinMaxScaler 적용

In [5]:
from sklearn.preprocessing import MinMaxScaler

raw_data = deepcopy(df.drop(['Name'], axis=1))
X_scaler = MinMaxScaler(feature_range=(-1,1))
y_scaler = MinMaxScaler(feature_range=(-1,1))
X_raw_data = X_scaler.fit_transform(raw_data)
y_raw_data = y_scaler.fit_transform(raw_data['Close'].values.reshape(-1,1))
print(X_raw_data.shape, y_raw_data.shape)

(3019, 5) (3019, 1)