#### [1] 데이터 준비 및 분석

In [2]:
import pandas as pd

In [3]:
santanDF = pd.read_csv('train.csv')
santanDF.head(3)

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.17,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.03,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.77,0

In [4]:
santanDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76020 entries, 0 to 76019
Columns: 371 entries, ID to TARGET
dtypes: float64(111), int64(260)
memory usage: 215.2 MB

In [6]:
santanDF.describe().TARGET

count    76020.000000
mean         0.039569
std          0.194945
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: TARGET, dtype: float64

In [7]:
santanDF.TARGET.value_counts()

0    73012
1     3008
Name: TARGET, dtype: int64

In [8]:
santanDF.describe()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
count,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,...,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,7.602000e+04,76020.000000
mean,75964.050723,-1523.199277,33.212865,86.208265,72.363067,119.529632,3.559130,6.472698,0.412946,0.567352,...,7.935824,1.365146,12.215580,8.784074,31.505324,1.858575,76.026165,56.614351,1.172358e+05,0.039569
std,43781.947379,39033.462364,12.956486,1614.757313,339.315831,546.266294,93.155749,153.737066,30.604864,36.513513,...,455.887218,113.959637,783.207399,538.439211,2013.125393,147.786584,4040.337842,2852.579397,1.826646e+05,0.194945
min,1.000000,-999999.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.163750e+03,0.000000
25%,38104.750000,2.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.787061e+04,0.000000
50%,76043.000000,2.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.064092e+05,0.000000
75%,113748.750000,2.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.187563e+05,0.000000
max,151838.000000,238.000000,105.000000,210000.000000,12888.030000,21024.810000,8237.820000,11073.570000,6600.000000,6600.000000,...,50003.880000,20385.720000,138831.630000,91778.730000,438329.220000,24650.010000,681462.900000,397884.300000,2.203474e+07,1.000000

📌 var3의 min 값이 -999999로 이상함

In [15]:
# var3 컬럼에 최소값에 해당하는 데이터 갯수 확인
santanDF[santanDF.var3 == -999999.000000].count()

ID                         116
var3                       116
var15                      116
imp_ent_var16_ult1         116
imp_op_var39_comer_ult1    116
                          ...
saldo_medio_var44_hace3    116
saldo_medio_var44_ult1     116
saldo_medio_var44_ult3     116
var38                      116
TARGET                     116
Length: 371, dtype: int64

#### [2] 데이터 전처리

In [16]:
# var3 컬럼의 중앙값, 최빈값
santanDF.var3.median(), santanDF.var3.value_counts()

(2.0,
  2         74165
  8           138
 -999999      116
  9           110
  3           108
            ...
  231           1
  188           1
  168           1
  135           1
  87            1
 Name: var3, Length: 208, dtype: int64)

In [17]:
# var3의 -999999값을 최빈값 2로 대체
santanDF.replace(-999999, 2, inplace=True)

In [18]:
# ID 컬럼 제거
santanDF.drop('ID', axis=1, inplace=True)

In [20]:
santanDF.head(2)

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.17,0
1,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.03,0

#### [3] 학습을 위한 준비

[3-1] 특성 피쳐 + 타겟 분리

In [21]:
data = santanDF.iloc[:, :-1]

In [22]:
target = santanDF.iloc[:, -1]

In [25]:
data.shape, target.shape

((76020, 369), (76020,))

[3-2] 학습용, 테스트용, 검증용 준비

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
# target의 구성 비율에 맞게 학습용, 테스트용, 검증용 데이터 셋 준비
X_train, X_test, y_train, y_test = train_test_split(data, target,
                                                    random_state=11,
                                                    stratify=target)

In [31]:
y_train.value_counts() / y_train.count()

0    0.960431
1    0.039569
Name: TARGET, dtype: float64

In [33]:
y_test.value_counts() / y_test.count()

0    0.960431
1    0.039569
Name: TARGET, dtype: float64

In [36]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train,
                                                    random_state=11,
                                                    stratify=y_train)

In [37]:
y_train.value_counts() / y_train.count()

0    0.960431
1    0.039569
Name: TARGET, dtype: float64

In [38]:
y_val.value_counts() / y_val.count()

0    0.960432
1    0.039568
Name: TARGET, dtype: float64

[3] 학습 진행

In [1]:
%pwd

'd:\\Study\\EXAM_ML\\DAY_0315'