In [21]:
# -----------------------------------------------------------
# 결측치 (Missing Value)
# - 값이 들어 있지 않는 것을 의미
# - 표기 : NaN, NA
# -----------------------------------------------------------
import pandas as pd
import numpy as np

In [22]:
# DF 생성 ----------------------------------------------------
data = [[10, 13, np.nan, 7], [2, 9, 3, 1], [21, 31, np.nan, 51]]

dataDF = pd.DataFrame(data)
dataDF

    0   1    2   3
0  10  13  NaN   7
1   2   9  3.0   1
2  21  31  NaN  51

In [23]:
# 결측치 계산 방법 --- (1) count()메서드 활용
# NaN 제외한 데이터 갯수
dataDF.count()

0    3
1    3
2    1
3    3
dtype: int64

In [24]:
# DF의 행의 갯수 => 속성 shape
dataDF.shape[0]

3

In [25]:
missing = dataDF.shape[0] - dataDF.count()
missing

0    0
1    0
2    2
3    0
dtype: int64

In [26]:
# 결측치 계산 ---(2) value_counts() 메서드
vcDF = dataDF.value_counts(dropna=False)
vcDF

0   1   2    3
2   9   3.0  1     1
10  13  NaN  7     1
21  31  NaN  51    1
dtype: int64

In [27]:
vcDF.index, type(vcDF)

(MultiIndex([( 2,  9, 3.0,  1),
             (10, 13, nan,  7),
             (21, 31, nan, 51)],
            names=[0, 1, 2, 3]),
 pandas.core.series.Series)

In [28]:
dataDF

    0   1    2   3
0  10  13  NaN   7
1   2   9  3.0   1
2  21  31  NaN  51

In [29]:
# DF 확인 ----------------------------------------------------
dataDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      int64
 1   1       3 non-null      int64
 2   2       1 non-null      float64
 3   3       3 non-null      int64
dtypes: float64(1), int64(3)
memory usage: 224.0 bytes

In [30]:
# 컬럼별 결측치 -----------------------------------------------
# isnull() isna()
dataDF.isnull()

       0      1      2      3
0  False  False   True  False
1  False  False  False  False
2  False  False   True  False

In [31]:
# 집계 메서드 => axis = 0 : 각각의 행
dataDF.isnull().sum()

0    0
1    0
2    2
3    0
dtype: int64

In [32]:
# 집계 메서드 => axis = 1 : 각각의 열
dataDF.isnull().sum(axis=1)

0    1
1    0
2    1
dtype: int64

In [33]:
# 정상 데이터 갯수 파악 => notnull(), notna()
dataDF.notnull().sum()

0    3
1    3
2    1
3    3
dtype: int64