In [1]:
# -----------------------------------------------------------
# 결측치 (Missing Value)
# - 값이 들어 있지 않는 것을 의미
# - 표기 : NaN, NA
# -----------------------------------------------------------
import pandas as pd
import numpy as np

In [2]:
# 2개의 csv 파일 로딩하기 -------------------------------------
FILE1 = '../datafiles/dataFiles/survey_visited.csv'
FILE2 = '../datafiles/dataFiles/survey_survey.csv'

In [3]:
# DF 생성 ---------------------------------------------------
visitedDF = pd.read_csv(FILE1)
surveyDF = pd.read_csv(FILE2)

In [7]:
# 결측치 체크 -----------------------------------------------
visitedDF.isnull().sum(), surveyDF.isnull().sum()

(ident    0
 site     0
 dated    1
 dtype: int64,
 taken      0
 person     2
 quant      0
 reading    0
 dtype: int64)

In [8]:
# 행, 인덱스 속성 확인 --------------------------------------
visitedDF.index, visitedDF.columns

(RangeIndex(start=0, stop=8, step=1),
 Index(['ident', 'site', 'dated'], dtype='object'))

In [9]:
surveyDF.index, surveyDF.columns

(RangeIndex(start=0, stop=21, step=1),
 Index(['taken', 'person', 'quant', 'reading'], dtype='object'))

In [11]:
# 2개 데이터프레임을 합치기 ----------------------------------
mDF = visitedDF.merge(surveyDF, left_on='ident', right_on='taken')

In [12]:
mDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 0 to 20
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ident    21 non-null     int64
 1   site     21 non-null     object
 2   dated    17 non-null     object
 3   taken    21 non-null     int64
 4   person   19 non-null     object
 5   quant    21 non-null     object
 6   reading  21 non-null     float64
dtypes: float64(1), int64(2), object(4)
memory usage: 1.3+ KB

In [13]:
mDF

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25